apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-analytics
  labels:
    app: go-analytics
spec:
  replicas: 2
  selector:
    matchLabels:
      app: go-analytics
  template:
    metadata:
      labels:
        app: go-analytics
    spec:
      containers:
        - name: api
          image: go-analytics:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          env:
            - name: REDIS_ADDR
              valueFrom:
                configMapKeyRef:
                  name: go-analytics-config
                  key: redis_addr
            - name: REDIS_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: go-analytics-config
                  key: redis_password
          resources:
            requests:
              cpu: 200m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          args: ["--save", "", "--appendonly", "no"]
          ports:
            - containerPort: 6379
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: go-analytics-config
                  key: redis_password
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 300m
              memory: 128Mi
