apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: go-analytics
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: go-analytics
  endpoints:
    - port: http
      path: /metrics
      interval: 10s
