apiVersion: v1
kind: Service
metadata:
  name: go-analytics
  labels:
    app: go-analytics
spec:
  selector:
    app: go-analytics
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
      protocol: TCP
